<h1>Hi, <%= @user.username %>!</h1>
<p>
  A password reset was requested for your account on <b>pngif.com</b>
</p>
<p>
  Please click on the following link to reset it:
</p>
<p>
  <b><a href="http://pngif.com/reset-password/<%= @user.short_reset_code %>">Reset password</a></b>
</p>
<p>
  or copy & paste the following link to your browser
</p>
<p>
  http://pngif.com/reset-password/<%= @user.short_reset_code %>
</p>
