<h1>Upload Image</h1>
<div>


  <div class="row" id="preview_files"></div>

  <input type="file" id="upload_files" class="input_files" accept="image/*"  multiple />
  <label for="upload_files" class="btn btn-default"><span class="glyphicon glyphicon-file"></span> Choose files to upload</label>

  <button class="btn btn-default hidden" id="upload_button"><span class="glyphicon glyphicon-upload"></span> Upload</button>
</div>

