<h1>Upload Image</h1>

<div>

  <form action="/upload" method="post" enctype="multipart/form-data">
    <div class="well-sm upload_button_well hidden">

      <a href="/" class="btn btn-default btn-lg hidden" id="new_upload_button">
        <span class="glyphicon glyphicon-cloud-upload"></span> New Upload
      </a>

      <button type="submit" class="btn btn-default btn-lg" id="upload_button">
        <span class="glyphicon glyphicon-cloud-upload"></span> Upload selected images
      </button>
    </div>

    <div class="row" id="preview_files">

      <%= render partial: 'shared/dropzone' %>

    </div>

  </form>



</div>

