<div class="text-center">
  <h3>Browse your

    <div class="btn-group">
      <button type="button" class="btn btn-browse dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        images
      </button>
      <ul class="dropdown-menu">
        <li><a href="/my">images</a></li>
        <li><a href="/my/albums">albums</a></li>
      </ul>
    </div>.

  </h3>
  <div class="row browse_filter">

  </div>
</div>

<div class="row browse-list">

  <% @images.each do |image| %>
    <div class="col-md-3 col-sm-4 col-xs-6">
      <div class="thumbnail browse_thumbnail">
        <a href="/album/<%= image.short_album_id %>" title="<%= image.title %>">
          <img class="thumb_cover" alt="<%= image.title %>" src="/img/1px.gif" style="background-image: url('<%= image.web_thumb_path %>')">
        </a>
      </div>
    </div>
  <% end %>

</div>


