<%= render partial: 'shared/confirm_email' %>

<div class="start_message text-center">
  <h1>Upload images</h1>
  <h3 class="hidden-xs">Drag & drop, browse files, paste from clipboard or upload images from the web.</h3>
</div>

<%= render partial: 'shared/dropzone' %>
