<div class="text-center">
  <h1>Check your inbox for confirmation email</h1>
<div class="inner">
  <p>
    You need to click the link in the email to verify your account.
    This is a necessary step to ensure you entered the correct email address.
  </p>
  <p>
    <b>Make sure you check your spam box as it sometimes gets caught there.</b>
  </p>
</div>

<a href="/" class="btn btn-lg btn-primary">Continue</a>

</div>
