<div class="text-center">
  <h1>Account activated</h1>
<div class="inner">
  <p>
    Thank you! Your email is now verified.
  </p>

</div>

<a href="/" class="btn btn-lg btn-primary">Continue</a>

</div>
