<div class="text-center">
  <h1>Password changed</h1>
  <div class="inner">
    <p>
      Please use the new password to sign in to the site from now on.
    </p>
  </div>

  <a href="/" class="btn btn-lg btn-primary">Continue</a>

</div>
