<div>
  <h1 class="text-center">Reset password</h1>
  <h4 class="text-center">Back to login page? <a class="btn btn-lg btn-primary" href="/login">Login</a></h4>

  <form class="login_form" action="/register" method="post">

    <div class="row">
      <div class="form-group form-group-lg col-md-6 col-md-offset-3">
        <label for="email">Email</label>
        <input id="email" class="form-control" type="email" name="email" placeholder="Email">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6 col-md-offset-3">
        Enter your email address here, then check your inbox for a link to reset your password.
      </div>
    </div>

    <div class="row text-right">
      <div class="form-group col-md-6 col-md-offset-3">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6 col-md-offset-3">
        <button class="btn btn-lg btn-danger col-xs-12">Reset password</button>
      </div>
    </div>

  </form>
</div>
