<div>
  <h1 class="text-center">Change password</h1>
  <h4 class="text-center">Back to login page? <a class="btn btn-lg btn-primary" href="/login">Login</a></h4>

  <div class="row text-right">
    <div class="form-group col-md-6 col-md-offset-3">
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-6 col-md-offset-3">
      Please pick a new password to complete the reset process. You will use the new password to sign in to the site from now on.
    </div>
  </div>

  <div class="row text-right">
    <div class="form-group col-md-6 col-md-offset-3">
    </div>
  </div>

  <%= form_for @user, url: { action: 'reset_password_form_put' }, method: :put , html: { class: 'reset_password_form' } do |f| %>

    <% if @user.errors.any? %>
      <div class="row">
        <div class="form-group form-group-lg col-md-6 col-md-offset-3">
          <h4>Please fix the following errors:</h4>
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>

    <div class="row">
      <div class="form-group form-group-lg col-md-6 col-md-offset-3">
        <label for="user_password">Password</label>
        <%= f.password_field(:password, { class: 'form-control', placeholder: 'Password', maxlength:255 }) %>
      </div>
    </div>

    <div class="row">
      <div class="form-group form-group-lg col-md-6 col-md-offset-3">
        <label for="user_password_confirmation">Password confirmation</label>
        <%= f.password_field(:password_confirmation, { class: 'form-control', placeholder: 'Retype Password', maxlength:255 }) %>
      </div>
    </div>

    <div class="row text-right">
      <div class="form-group col-md-6 col-md-offset-3">
      </div>
    </div>

    <div class="row">
      <div class="form-group col-md-6 col-md-offset-3">
        <button type="submit" class="btn btn-lg btn-danger col-xs-12">Change password</button>
      </div>
    </div>

  <% end %>
</div>
