<div class="text-center">
  <h1>Reset password</h1>
  <h4>Back to login page? <a class="btn btn-lg btn-primary" href="/login">Login</a></h4>

  <div class="inner">
    <p>
     Please check your inbox for a link to reset your password.
    </p>
    <p>
      <b>Make sure you check your spam box as it sometimes gets caught there.</b>
    </p>
  </div>
  <a href="/" class="btn btn-lg btn-primary">Continue</a>

</div>
