/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "lightbox-bootstrap";
@import "cover";


#back-top {
  position:fixed;
  bottom:10px;
  right:10px;
  z-index: 1000;
}

div.thumbnail {
  margin-bottom: 5px;
  overflow: hidden;
  padding: 1px;
}

img.thumb_cover {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

.thumb_detail, .thumb_status {
  overflow: hidden;
  font-size: 14px;
}

.thumb_detail {

}

.thumb_status {

}

.thumb_status_margin {
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn.preview-remove {
  margin-top: 15px;
}

.input_files {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.thumbnail {
  overflow: hidden;
}

.preview {
  margin-bottom: 10px;
}

#drop_zone {
  border: 2px dashed #bbb;
  border-radius: 5px;
  padding: 50px 15px;
  text-align: center;
  color: #bbb;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top:10px;
}

#collection {
  margin-bottom:20px;
}

#collection_link {
  margin-top:20px;
  margin-bottom:20px;
}

#drop_zone .drop-label {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 10px 16px;
  font-size: 22px;
}

.upload_button, #new_upload_button {
  margin-top: 20px;
}

.upload_buttons {
  margin-top: 30px;
}

.input-group-addon {
  color: white;
  background-color: #337ab7;
  font-weight: bold;
  border: 0px;
  padding: 10px 5px;
}

.thumbnail_browse {
  margin: 5px;
}

.zoom-in {
  cursor:zoom-in;
}

