/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "lightbox-bootstrap";
@import "cover";
@import "dark-lightbox";

.logo-icon {
  color: greenyellow;
}

.footer {
  padding: 50px 0px 50px 0px;
}

#back-top {
  position:fixed;
  bottom:10px;
  right:10px;
  z-index: 1000;
}

.thumbnail {
  margin-bottom: 5px;
  overflow: hidden;
  padding: 1px;
  background-color: #000;
  border-color: #000;
}

.thumb_cover {
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
}

.thumb_detail, .thumb_status {
  overflow: hidden;
  font-size: 14px;
}

.thumb_status_margin, .thumb_detail_margin {
  margin-top: 15px;
  margin-bottom: 15px;
}

.btn.preview-remove {
  margin-top: 15px;
}

.input_files {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.thumbnail {
  overflow: hidden;
}

.preview {
  margin-bottom: 10px;
}

#drop_zone {
  border: 2px dashed #bbb;
  border-radius: 5px;
  padding: 50px 15px;
  text-align: center;
  color: #bbb;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top:10px;
}

#album {
  margin-bottom:20px;
}

#album_link {
  margin-top:20px;
  margin-bottom:20px;
}

#drop_zone .drop-label {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  padding: 10px 16px;
  font-size: 22px;
}

.upload_button, #new_upload_button {
  margin-top: 20px;
}

.upload_buttons, .show_more_images {
  margin-top: 30px;
}

.input-group-addon {
  color: white;
  background-color: #337ab7;
  font-weight: bold;
  border: 0px;
  padding: 10px 5px;
}

.thumbnail_browse {
  margin: 5px;
}

.zoom-in {
  cursor:zoom-in;
}

.zoom-out {
  cursor:zoom-out;
}

.browse_thumbnail {
  margin-bottom: 20px;
}

.browse_filter {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}

.or-facebook {
  padding: 20px;
}

.album-header, .image-header {
  background-color: #777;
  padding: 5px 10px 5px 20px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.image-footer {
  background-color: #777;
  padding: 5px 10px 5px 20px;
}

.image-detail {
  margin: 0px;
  border: 0px;
  border-radius: 0px;
}

.album-header h1, .image-header h1 {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.image-footer h2{
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-browse {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 3px solid #4cae4c;
  font-size: 24px;
  padding: 0px 0px 2px 0px;
}

.btn-browse:hover {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 3px solid #398439;
}

.btn-group.open .dropdown-toggle {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-browse:active, .btn-browse.active, .open > .btn-browse.dropdown-toggle {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.btn-browse:active:hover, .btn-browse:active:focus, .btn-browse:active.focus, .btn-browse.active:hover, .btn-browse.active:focus, .btn-browse.active.focus, .open > .btn-browse.dropdown-toggle:hover, .open > .btn-browse.dropdown-toggle:focus, .open > .btn-browse.dropdown-toggle.focus {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.btn-browse:focus, .btn-browse.focus {
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.album-share-box {
  padding-bottom: 10px;
}

.share-button {
  font-size: 30px;
  cursor: pointer;
}

.share-button:hover {
  color: #333;
}

.image-tag {
  border-radius: 6px;
  padding: 4px 4px;
  background-color: #4cae4c;
  margin: 4px 4px 4px 0px;
  white-space: nowrap;
  font-weight: normal;
  font-size: 10px;
}

.image-tag-text {
  font-size: 12px;
}

.image-tag-remove {
  cursor: pointer;
}

.image-tag-remove:hover {
  color: #fff;
}

.image-footer-row {
  padding: 5px 0px 5px 0px;
}

.image-delete-row {
  padding: 20px 0px 5px 0px;
}