// Place all the styles related to the home controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.thumbnail {
  margin-bottom: 5px;
  overflow: hidden;
  border: 1px solid #222;
  background-color: black;
  padding: 1px;
}

img.thumb_cover {
  width: 100%;
  height: 200px;
  background-size: cover;
  background-position: center;
}

p.thumb_detail, p.thumb_status {
  height: 40px;
  overflow: hidden;
  font-size: 14px;
}

.btn.preview-remove {
  border: 0px solid transparent;
}

.input_files {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#drop_zone {
  border: 2px dashed #bbb;
  border-radius: 5px;
  padding: 25px;
  text-align: center;
  color: #bbb;
  font-size: 18px;
}